Repository jonathan-nascimento51/glpi_dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-python-imports, validate-env-vars, validate-api-docs, frontend-type-check, backend-tests, frontend-tests, check-migrations, validate-configs

Path conditions:
  validate-python-imports: any of: ^backend/.*\.py$, but not: (?x)^(
  .*\.lock$|
  .*\.min\.(js|css)$|
  frontend/dist/.*|
  frontend/node_modules/.*|
  backend/__pycache__/.*|
  backend/\.pytest_cache/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*
)$
  validate-env-vars: any of: \.(env|env\.example)$, but not: (?x)^(
  .*\.lock$|
  .*\.min\.(js|css)$|
  frontend/dist/.*|
  frontend/node_modules/.*|
  backend/__pycache__/.*|
  backend/\.pytest_cache/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*
)$
  validate-api-docs: any of: ^backend/.*\.py$, but not: (?x)^(
  .*\.lock$|
  .*\.min\.(js|css)$|
  frontend/dist/.*|
  frontend/node_modules/.*|
  backend/__pycache__/.*|
  backend/\.pytest_cache/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*
)$
  frontend-type-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.lock$|
  .*\.min\.(js|css)$|
  frontend/dist/.*|
  frontend/node_modules/.*|
  backend/__pycache__/.*|
  backend/\.pytest_cache/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*
)$
  backend-tests: any of: ^backend/.*\.py$, but not: (?x)^(
  .*\.lock$|
  .*\.min\.(js|css)$|
  frontend/dist/.*|
  frontend/node_modules/.*|
  backend/__pycache__/.*|
  backend/\.pytest_cache/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*
)$
  frontend-tests: any of: ^frontend/.*\.(ts|tsx|js|jsx)$, but not: (?x)^(
  .*\.lock$|
  .*\.min\.(js|css)$|
  frontend/dist/.*|
  frontend/node_modules/.*|
  backend/__pycache__/.*|
  backend/\.pytest_cache/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*
)$
  check-migrations: any of: ^backend/migrations/.*\.py$, but not: (?x)^(
  .*\.lock$|
  .*\.min\.(js|css)$|
  frontend/dist/.*|
  frontend/node_modules/.*|
  backend/__pycache__/.*|
  backend/\.pytest_cache/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*
)$
  validate-configs: any of: \.(yaml|yml|json|toml)$, but not: (?x)^(
  .*\.lock$|
  .*\.min\.(js|css)$|
  frontend/dist/.*|
  frontend/node_modules/.*|
  backend/__pycache__/.*|
  backend/\.pytest_cache/.*|
  \.git/.*|
  \.vscode/.*|
  \.idea/.*
)$

feat: add frontend dependencies and configuration files
  .eslintrc.json
  .flake8
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc.json
  Makefile
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  docker/README.md
  docker/backend/Dockerfile
  docker/dev-tools/Dockerfile
  docker/dev-tools/init-dev.sh
  docker/dev-tools/run-tests.sh
  docker/fluentd/Dockerfile
  docker/fluentd/fluent.conf
  docker/frontend/Dockerfile
  docker/grafana/dashboards/glpi-dashboard.json
  docker/grafana/provisioning/dashboards/dashboards.yml
  docker/grafana/provisioning/datasources/prometheus.yml
  docker/nginx/conf.d/default.conf
  docker/nginx/conf.d/dev.conf
  docker/nginx/conf.d/prod.conf
  docker/nginx/nginx.conf
  docker/prometheus/prometheus.yml
  docker/redis/redis-prod.conf
  docker/redis/redis.conf
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/__tests__/components/MetricsGrid.test.tsx
  frontend/src/__tests__/hooks/useDashboard.test.ts
  frontend/src/__tests__/setup.ts
  frontend/src/hooks/useDashboard.ts
  frontend/src/services/api.ts
  frontend/vitest.config.ts
  pyproject.toml
  tests/conftest.py
  tests/test_api_routes.py
  tests/test_glpi_service.py
  tests/test_integration.py
Due: frontend-type-check, frontend-tests, validate-configs

refactor(backend): restructure application and improve error handling
  app.py
  backend/.coverage
  backend/api/routes.py
  backend/app.py
  backend/config/settings.py
  backend/pyproject.toml
  backend/requirements-dev.txt
  backend/requirements.txt
  backend/routes/maintenance_routes.py
  backend/test_real_data.py
  backend/tests/integration/test_dashboard_api.py
  backend/tests/test_glpi_service.py
  backend/utils/response_formatter.py
  frontend/src/config/constants.ts
  frontend/src/dark-theme.css
  frontend/src/hooks/useDashboard.ts
  frontend/src/services/api.ts
  tests/html/test_category_component.html
  tests/html/test_cors_debug.html
  tests/html/test_cors_simple.html
  tests/html/test_frontend_backend_communication.html
  tests/html/test_simple_cors.html
  tests/integration/debug_trends.py
  tests/integration/serve_test.py
  tests/integration/test_trends.py
Due: validate-python-imports, validate-api-docs, frontend-type-check, backend-tests, frontend-tests, validate-configs

feat(logging): implement structured logging system for GLPI service
  backend/config/logging_config.py
  backend/docs/LOGGING_SETUP.md
  backend/services/glpi_service_backup.py
  backend/tests/test_structured_logger.py
  backend/utils/structured_logger.py
Due: validate-python-imports, validate-api-docs, backend-tests

test: migrate e2e tests from Playwright to Vitest
  backend/services/glpi_service.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/e2e/dashboard.spec.ts
  frontend/src/__tests__/e2e/tickets.spec.ts
  frontend/src/__tests__/unit/components.test.tsx
Due: validate-python-imports, validate-api-docs, frontend-type-check, backend-tests, frontend-tests, validate-configs

chore: hygiene (lint/format/types)
  backend/__init__.py
  backend/api/__init__.py
  backend/api/routes.py
  backend/app/flags.py
  backend/app/main.py
  backend/app/telemetry.py
  backend/config/__init__.py
  backend/config/logging_config.py
  backend/config/settings.py
  backend/main.py
  backend/schemas/dashboard.py
  backend/services/__init__.py
  backend/services/api_service.py
  backend/services/glpi_service.py
  backend/services/glpi_service_backup.py
  backend/test_fallback.py
  backend/tests/conftest.py
  backend/tests/integration/test_api_integration.py
  backend/tests/load/test_load_testing.py
  backend/tests/performance/test_api_performance.py
  backend/tests/test_contract_snapshot.py
  backend/tests/test_structured_logger.py
  backend/tests/unit/__init__.py
  backend/tests/unit/test_api_service.py
  backend/tests/unit/test_glpi_service.py
  backend/utils/__init__.py
  backend/utils/performance.py
  backend/utils/response_formatter.py
  backend/utils/structured_logger.py
  frontend/package-lock.json
  frontend/package.json
Due: validate-python-imports, validate-api-docs, backend-tests, validate-configs

feat(flags): wire v2 kpis behind feature flag
  .github/workflows/ci.yml
  CI_README.md
  README.md
  frontend/.env.example
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/flags/unleash.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/services/api.ts
  frontend/src/stories/KpiContainer.stories.tsx
  frontend/src/stories/NewTicketsList.stories.tsx
  frontend/src/stories/RankingTable.stories.tsx
  frontend/src/test-setup.tsx
  frontend/vitest.config.integration.ts
  frontend/vitest.config.unit.ts
Due: validate-env-vars, frontend-type-check, frontend-tests, validate-configs

feat(obs): Sentry & OTel behind env flags
  .github/workflows/ci.yml
  README.md
  backend/.env.example
  backend/app/telemetry.py
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/sentry.ts
  frontend/src/main.tsx
Due: validate-python-imports, validate-env-vars, validate-api-docs, frontend-type-check, backend-tests, frontend-tests, validate-configs

test(e2e): scaffold scenarios (skipped)
  .github/workflows/ci.yml
  frontend/e2e/api-error-handling.spec.ts
  frontend/e2e/kpi-updates.spec.ts
  frontend/package.json
Due: frontend-type-check, frontend-tests, validate-configs

fix: Corrige erros do dashboard e adiciona rota de tickets
  backend/api/fastapi_routes.py
  backend/main.py
  deploy.sh
  frontend/src/App.tsx
  frontend/src/api/generated/gadpiApi.schemas.ts
  frontend/src/components/dashboard/ModernDashboard.tsx
  frontend/src/services/api.ts
  frontend/src/utils/dataMonitor.ts
  frontend/src/utils/formatters.ts
  frontend/src/utils/performanceBaseline.ts
  frontend/src/utils/performanceMonitor.ts
  frontend/src/utils/performanceTestSuite.ts
  frontend/src/utils/validation.ts
  frontend/src/utils/webVitalsMonitor.ts
  monitoring.yml
  monitoring/README.md
  monitoring/alertmanager.yml
  monitoring/grafana/dashboards/glpi-dashboard.json
  monitoring/grafana/dashboards/system-metrics.json
  monitoring/grafana/provisioning/dashboards/dashboards.yml
  monitoring/grafana/provisioning/datasources/prometheus.yml
  monitoring/prometheus.yml
  monitoring/rules/glpi-alerts.yml
  production.env
Due: validate-python-imports, validate-env-vars, validate-api-docs, frontend-type-check, backend-tests, frontend-tests, validate-configs

fix: Corrige problemas de codificação UTF-8 nos testes e adiciona novos testes unitários
  backend/.coverage
  backend/.coveragerc
  backend/services/api_service.py
  backend/services/glpi_service.py
  backend/tests/conftest.py
  backend/tests/integration/test_api_integration.py
  backend/tests/unit/test_api_service.py
  backend/tests/unit/test_glpi_service.py
  frontend/src/__tests__/unit/Dashboard.test.tsx
  frontend/src/__tests__/unit/KpiCard.test.tsx
  frontend/src/__tests__/unit/KpiContainer.test.tsx
  frontend/src/__tests__/unit/components.test.tsx
  frontend/src/__tests__/unit/hooks.test.tsx
  frontend/src/__tests__/unit/kpiAdapter.test.ts
  frontend/src/__tests__/unit/utils.test.ts
  frontend/src/api/generated/default/default.ts
  frontend/src/api/generated/gLPIDashboardAPI.schemas.ts
  frontend/src/components/KpiContainer.tsx
Due: validate-python-imports, validate-api-docs, frontend-type-check, backend-tests, frontend-tests

chore: Atualiza .gitignore para ignorar arquivos de teste específicos do Playwright
  .gitignore
Due: none

Fix: Aumentar timeouts para resolver erros ERR_ABORTED
  backend/config/settings.py
  backend/services/api_service.py
  backend/services/glpi_service.py
  debug_frontend.js
  debug_frontend_console.js
  diagnostic_complete.py
  diagnostic_results_20250808_152359.json
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/__tests__/components/MetricsGrid.test.tsx
  frontend/src/__tests__/hooks/useDashboard.test.ts
  frontend/src/__tests__/setup.ts
  frontend/src/components/DashboardMetrics.tsx
  frontend/src/hooks/useDashboard.ts
  frontend/src/services/api.ts
  frontend/src/types/api.ts
  frontend/test-results.json
  pyproject.toml
  test_dashboard_hook.py
  test_data_flow.py
  test_fetchDashboardMetrics.py
  test_final_integration.py
  test_frontend_data.js
  test_frontend_integration.py
  test_glpi_connection.py
  test_integration_fix.py
  test_results_20250808_152109.json
  tests/test_api_routes.py
  tests/test_integration.py
Due: validate-python-imports, validate-api-docs, frontend-type-check, backend-tests, frontend-tests, validate-configs

refactor(test): extract test logic into helper functions
  .pre-commit-config.yaml
  test_data_flow.py
Due: validate-configs

build: add project metadata and fix URLs in pyproject.toml
  pyproject.toml
Due: validate-configs

feat: Fix technician name mapping and reorganize project structure
  .gitignore
  backend/services/glpi_service.py
  debug_frontend.js
  debug_frontend_console.js
  deps.json
  diagnostic_complete.py
  diagnostic_results_20250808_152359.json
  frontend/public/test_api.html
  frontend/src/components/dashboard/ModernDashboard.tsx
  frontend/src/components/dashboard/NewTicketsList.tsx
  frontend/src/services/api.ts
  frontend/src/utils/dataValidation.ts
  run_scripts.py
  test_dashboard_hook.py
  test_data_flow.py
  test_fetchDashboardMetrics.py
  test_final_integration.py
  test_frontend_data.js
  test_frontend_integration.py
  test_glpi_connection.py
  test_integration_fix.py
  test_results_20250808_152109.json
  trae-context.yml
Due: validate-python-imports, validate-api-docs, frontend-type-check, backend-tests, frontend-tests, validate-configs

docs: Adiciona configuração completa de documentação para assistentes de IA
  AI_ASSISTANT_GUIDE.md
  AI_DEVELOPMENT_RULES.md
  AI_PROJECT_CONTEXT.md
  AI_QUICK_REFERENCE.md
  CI_CD_CONFIG.md
  CONTRIBUTING.md
  DOCUMENTATION_INDEX.md
  ENVIRONMENT_CONFIG.md
  README.md
  TECHNICAL_STANDARDS.md
Due: none

chore: remover arquivos temporários e scripts de teste do controle de versão
  package-lock.json
  package.json
  proxy-server.js
  run_scripts.py
  test_api_endpoints.js
  test_dashboard_data.js
Due: validate-configs

chore: atualizar .gitignore para ignorar scripts temporários na raiz
  .gitignore
Due: none

fix: Corrige script PowerShell configurar-mcps-interativo.ps1
  configurar-mcps-interativo.ps1
Due: none

docs: Adiciona documentação e configuração completa dos MCPs
  GUIA_CONFIGURACAO_MCPS.md
  README-MCP.md
  RESUMO_CONFIGURACAO_MCPS.md
  TRAE_MCP_SETUP.md
  mcp-usage-examples.md
  setup-mcps.ps1
  trae-mcp-config.json
Due: validate-configs

feat: Adiciona ferramentas de debug e recursos PWA
  DEBUG_GUIDE.md
  frontend/DEBUGGING_GUIDE.md
  frontend/public/manifest.json
  frontend/public/sw.js
  frontend/src/components/debug/RankingDebugPanel.tsx
  frontend/src/debug/directAPITest.ts
  frontend/src/debug/quickRankingTest.ts
  frontend/src/debug/rankingDebug.ts
  frontend/src/debug/rankingDiagnostic.ts
  frontend/src/debug/rankingFixValidation.ts
  frontend/src/debug/rankingMonitor.ts
  frontend/src/debug/rankingTestScript.ts
  frontend/src/debug/simpleFix.ts
  frontend/src/debug/testRankingAPI.ts
Due: frontend-type-check, frontend-tests, validate-configs

feat: Implementa melhorias completas no dashboard e backend
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/dashboard/MetricsGrid.tsx
  frontend/src/components/dashboard/ModernDashboard.tsx
  frontend/src/components/dashboard/RankingTable.tsx
  frontend/src/config/constants.ts
  frontend/src/hooks/useDashboard.ts
  frontend/src/hooks/useDebounce.ts
  frontend/src/hooks/usePerformanceMonitoring.ts
  frontend/src/main.tsx
  frontend/src/services/api.ts
  frontend/src/services/cache.ts
  frontend/vite.config.ts
  pyproject.toml
Due: frontend-type-check, frontend-tests, validate-configs

feat: Implementa sistema completo de métricas de cache
  frontend/src/App.tsx
  frontend/src/components/DashboardMetrics.tsx
  frontend/src/components/RankingDebugPanel.tsx
  frontend/src/components/dashboard/ModernDashboard.tsx
  frontend/src/components/dashboard/RankingTable.tsx
  frontend/src/hooks/useDashboard.ts
  frontend/src/services/cache.ts
  frontend/src/types/api.ts
  frontend/src/utils/dataValidation.ts
Due: frontend-type-check, frontend-tests
