Repository jonathan-nascimento51/glpi_dashboard: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-check, safety-check, pip-audit, npm-audit, license-check, complexity-check

typescript-check:
  name: TypeScript type check
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

safety-check:
  name: Safety Check (Python Dependencies)
  entry: bash -c 'safety check -r backend/requirements.txt --json'
  language: system
  pass_filenames: false

pip-audit:
  name: Pip Audit (Vulnerability Scanner)
  entry: bash -c 'pip-audit -r backend/requirements.txt --format=json'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=high'
  language: system
  pass_filenames: false

license-check:
  name: License Compatibility Check
  entry: bash -c 'pip-licenses --format=json --output-file=licenses.json && echo "License check completed"'
  language: system
  pass_filenames: false

complexity-check:
  name: Code Complexity Check
  entry: bash -c 'radon cc backend/ --min=B --show-complexity'
  language: system
  pass_filenames: false

Enhance security and configuration management for the application
  backend/app.py
  backend/config/settings.py
Due: complexity-check

Improve code quality and cache security with targeted refactoring
  .replit
  backend/app.py
  backend/config/settings.py
  backend/core/application/services/progressive_refactoring_service.py
  backend/core/infrastructure/external/glpi/metrics_adapter.py
  backend/scripts/cache_validation_20250912_193013.json
  backend/scripts/cache_validation_20250912_193209.json
  backend/scripts/cache_validation_20250912_193416.json
  backend/scripts/performance_benchmark_20250912_192123.json
  backend/scripts/performance_benchmark_20250912_192143.json
  backend/scripts/production_benchmark_20250912_192613.json
  backend/services/glpi_service_backup.py
  backend/utils/observability_middleware.py
  backend/utils/structured_logging.py
Due: complexity-check

Organize backend application structure and update controller logic
  .replit
  backend/core/application/commands/__init__.py
  backend/core/application/controllers/__init__.py
  backend/core/application/controllers/refactoring_controller.py
  backend/core/application/events/__init__.py
  backend/core/application/use_cases/__init__.py
Due: complexity-check

Refactor application layers to use consolidated schema models
  .replit
  backend/core/application/contracts/metrics_contracts.py
  backend/core/application/dto/__init__.py
  backend/core/application/dto/metrics_dto.py
  backend/core/application/queries/metrics_query.py
  backend/core/application/services/progressive_refactoring_service.py
  backend/schemas/dashboard.py
Due: complexity-check

Update backend structure by relocating API service code
  backend/api/routes.py
  backend/config/logging_config.py
  backend/services/legacy/api_service.py
Due: complexity-check

Update backend project structure and file organization
  .replit
Due: none

Remove unused demo and cache testing endpoints from the application
  backend/api/demo_routes.py
  backend/app.py
  backend/cache_test_routes.py
Due: complexity-check

Add ability to use mock data for interface development and testing
  .replit
  backend/config/settings.py
  backend/core/application/dto/metrics_dto.py
  backend/core/application/queries/metrics_query.py
  backend/core/application/services/metrics_facade.py
  backend/schemas/dashboard.py
  backend/utils/mock_data_generator.py
Due: complexity-check

Improve data handling and debugging in API metrics endpoints
  .replit
  backend/api/routes.py
Due: complexity-check

Improve dashboard data handling and technician ranking logic
  .replit
  backend/core/application/queries/metrics_query.py
  backend/core/application/services/metrics_facade.py
  backend/core/application/services/progressive_refactoring_service.py
Due: complexity-check

Add comprehensive documentation and setup instructions for the GLPI Dashboard project
  README.md
  REPLIT_AI_INSTRUCTIONS.md
  TROUBLESHOOTING.md
Due: none

Prepare the interface to display mock data for preview and validation
  .replit
Due: none

Improve API configuration and service initialization
  .replit
  backend/core/application/services/metrics_facade.py
  frontend/src/services/httpClient.ts
  frontend/vite.config.ts
Due: typescript-check, complexity-check

Document the complete replacement of the current frontend with a new design
  .replit
  DOCUMENTACAO_SUBSTITUICAO_FRONTEND.md
Due: none

Update frontend architecture documentation with new details
  replit.md
Due: none

Refactor project structure and component organization
  .replit
Due: none

Remove outdated project configuration files
  .replit
  frontend_old_backup/vite.config.ts
  src/.vite/deps_temp_bdcaa3c4/package.json
Due: none

Remove progressive refactoring service and related files
  .replit
  backend/core/application/services/__init__.py
  backend/core/application/services/metrics_facade.py
  backend/core/application/services/progressive_refactoring_service.py
  backend/core/application/services/refactoring_integration.py
Due: complexity-check

Path conditions:
  typescript-check: any of: ^frontend/src/.*\.(ts|tsx)$
  safety-check: any of: ^backend/requirements\.txt$
  pip-audit: any of: ^backend/requirements\.txt$
  npm-audit: any of: ^frontend/package.*\.json$
  license-check: any of: ^backend/requirements\.txt$
  complexity-check: any of: ^backend/.*\.py$
